
.header {
    text-align: center;
    margin-top: 24px;
}

.secondary-title {
    font-size: var(--fs-400-22);
    font-weight: normal;
    color: var(--leme-blue);
    margin-top: 24px;
}

.primary-title {
    text-transform: uppercase;
    font-size: var(--fs-400-40);
    font-weight: normal;
    color: var(--leme-blue);
}

@media screen and (max-width: 768px) {
    .primary-title {
        font-size: 3rem;
    }
}

.card {
    box-shadow: 0 4px 4px 0 var(--secondary-gray);
    padding: 16px 16px;
    background-color: var(--white);
    margin-top: 45px;
}

@media(max-width: 768px) {
    .card {
        text-align: center;
        font-size: 1rem;
        max-width: 100%;
    }
}

.form {
    margin-top: 8px;
    display: flex;
    gap: 5rem;
    width: 100%;
}

@media(max-width:1200px) {
    .form {
        padding: 8px;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}

.form_group{
    width: 100%;
}

.form_input {
    border: 1px solid var(--divider-gray);
    font-size: var(--fs-300-13);
    padding: 4px 8px;
    min-width: 223px;
    color: var(--secondary-gray);
    width: 100%;
}

@media(max-width: 768px) {
    .form_input {
        min-width: 100%;
    }
}

.form_input:focus-visible {
    outline: none;
}

.form_label {
    font-size: var(--fs-400-14);
    color: var(--secondary-gray);
    display: block;
}

@media(max-width: 768px) {
    .form_label {
        padding: 6px;
    }
}

.data__separador {
    background-color: var(--leme-blue);
    font-size: var(--fs-300-13);
    color: var(--divider-gray);
    padding: 4px;
    width: 100%;
}

.container_data {
    display: flex;
    align-items: stretch;

}

@media(max-width: 768px){
    .container_data {
        flex-direction: column;
    }
}

.data__box {
    display: flex;
    flex-basis: 100%;
}

.vagas_label {
    margin-bottom: 8px;
}

@media(max-width: 768px) {
    .vagas_label {
        margin-top: 8px;
    }
}
.data {
    min-width: 138px;
}

@media(max-width: 768px) {
    .data {
        min-width: 100%;
    }
}

.table_area {
    margin-top: 45px;
    color: var(--primary-gray);
    font-size: var(--fs-400-16);
    width: 100%;
    border-spacing: 0px 2.5rem;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .table_area{
        font-size: 1.2rem;
    }
}

.table_responsive{
    overflow-x: auto;
}

.table_th {
    color: var(--primary-gray);
    font-size: var(--fs-400-22);
    font-weight: normal;
}

@media(max-width: 768px){
    .table_th{
        font-size: 1.8rem;
    }
}

.table_img {
    height: 74px;
    overflow: hidden;
    margin: 4px;
}

@media(max-width: 768px){
    .table_img{
        margin: none;
    }
}

.table_img--style {
    object-fit: cover;
    width: 150px;
}

.table_tr {
    background-color: var(--white);
    padding-top: 25px;
    box-shadow: 0px 4px 4px 0px var(--secondary-gray)
}

.table .table_area tr td+td {
    text-align: center;
    padding: 2.5rem;
}

.badge {
    padding: 8px 20px;
    border-radius: 20px;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--fs-400-14);
}

.badge_green {
    background-color: var(--leme-green);
}

.badge_red {
    background-color: var(--leme-red);
}

.badge_blue {
    background-color: var(--leme-blue);
}